<script type="text/javascript">
    const TURBOS = {
        {%- for turbo in site.data.turbos %}
            "{{ turbo.name }}": {
                name: "{{turbo.name}}",
                map_img: "{{turbo.map_img}}",
                flow_img: "{{turbo.flow_img}}",
                map_unit: "{{turbo.map_unit}}",
                map_range: [{{turbo.map_range[0]}}, {{turbo.map_range[1]}}, {{turbo.map_range[2]}}, {{turbo.map_range[3]}}],
                flow_range: [{{turbo.flow_range[0]}}, {{turbo.flow_range[1]}}, {{turbo.flow_range[2]}}, {{turbo.flow_range[3]}}]
            },
        {%- endfor %}
    };
</script>